/**
*
*   Common
*
**/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, div, span, p, h1, h2, h3, a, img, ul, li, header, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
    background: #f2f2f2;
    font-family: 'Lato', sans-serif;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

a.dark {
    color: #6B6B6B;
}

h1 {
    font-size: 2em;
    color: #6B6B6B;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.6em;
    color: #6B6B6B;
}

h3 {
    margin: 0 0 10px 0;
    font-size: 1.3em;
    color: #6B6B6B;
}

ul {
	list-style: none;
}

.container {
    padding: 10px;
}

.is-hidden {
    display: none;
}

.example {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    background: #fff;
}

ul.nav li:not(.title) {
    margin-left: 10px;
}

ul.nav li.title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
