/**
*
*   Validate
*
**/

.form label {
	display: block;
	height: 30px;
}

form label span {
	float: left;
	width: 150px;
}

form label input {
	float: left;
	margin: 0 10px;
}

.form label .error {
	color: red;
}
